body {
  height: 100%;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-link {
  font-size: 1.2rem;
  margin: 0 15px;
  color: white;
  position: relative;
  padding-bottom: 5px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: #0d6efd;
  transition: width 0.3s ease-in-out;
}

.nav-link.active::after {
  width: 100%;
}

.nav-link:hover::after {
  width: 100%;
}

.presentation-container {
  max-width: 1000px;
  padding: 2rem;
}

.info-card {
  max-width: 500px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-border {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  padding: 6px;
  background: linear-gradient(135deg, #00bfff, #1e90ff, #00bfff);
  background-size: 300% 300%;
  animation: animate-border 6s ease infinite;
  box-shadow: 0 0 20px rgba(0, 191, 255, 0.5);
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  border: 3px solid #0f2027;
  image-rendering: auto;
}

@keyframes animate-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sobre-mi {
  color: white;
  margin: 0 auto;
  max-width: 800px;
}

.sobre-mi h4 {
  margin-bottom: 1rem;
}
.sobre-mi h6 {
  margin-bottom: 1rem;
}

/* Adaptar para tablets y móviles */
@media (max-width: 990px) {
  .sobre-mi {
    max-width: 660px;
  }
}
@media (max-width: 776px) {
  .sobre-mi {
    max-width: 500px;
  }
}
@media (max-width: 454px) {
  .tech-category ul li {
    padding: 0 !important;
  }
}

.tech-list {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.tech-category ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.tech-category ul li {
  display: flex;
  align-items: center;
  width: calc(33.333% - 1rem);
  padding: 0.5rem;
  box-sizing: border-box;
}
.tech-category ul li p {
  margin: 1em;
}
